* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(120deg, #86835b, #b35773);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  padding: 20px;
}

.login-card {
  max-width: 600px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 40px 30px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  animation: fadeUp 1s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-card h2 {
  text-align: center;
  color: #1e3d59;
  margin-bottom: 5px;
  font-size: 44px;
}

.login-card p {
  text-align: center;
  color: #777;
  margin-bottom: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 25px;
}
.input-box input {
  width: 100%;
  padding: 12px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
}

.input-box label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #999;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -18px;
  font-size: 20px;
  font-weight: 600px;
  color: #09125f;
}

button {
  width: 30%;
  padding: 12px;
  background: #103f49;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
  background: #a8652a;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: #1e3d59;
  font-size: 18px;
}

.links a:hover {
  text-decoration: underline;
}

/* Responsive */
@media(max-width: 480px) {
  .login-card {
    padding: 30px 20px;
  }
}
